In [1]:
array2 = [[11,12,13],[21,22,23],[31,32,33]]

In [6]:
import pandas as pd

In [7]:
pd.DataFrame(array2)

    0   1   2
0  11  12  13
1  21  22  23
2  31  32  33

In [9]:
array2

[[11, 12, 13], [21, 22, 23], [31, 32, 33]]

In [11]:
array2[0]

[11, 12, 13]

In [12]:
sum(array2[0])

36

In [30]:
array2 = [8, 3 ,7 ,6, 9, 1, 4]
print(array2)

for j in range(0, len(array2)):
    min_value = 9999
    min_index = -1
    # max_value = -9999
    # max_index = -1
    for i in range(j,len(array2)):
        if(array2[i]<min_value):
            min_value = array2[i]
            min_index = i
    #     if(array2[i]>max_value):
    #         max_value = array2[i]
    #         max_index = i

    temp = 0
    if(array2[j]>min_value):
        temp = array2[min_index] 
        array2[min_index] = array2[j]
        array2[j] = temp

    print(array2)

[8, 3, 7, 6, 9, 1, 4]
[1, 3, 7, 6, 9, 8, 4]
[1, 3, 7, 6, 9, 8, 4]
[1, 3, 4, 6, 9, 8, 7]
[1, 3, 4, 6, 9, 8, 7]
[1, 3, 4, 6, 7, 8, 9]
[1, 3, 4, 6, 7, 8, 9]
[1, 3, 4, 6, 7, 8, 9]