In [1]:
a = 100
b = 200
c,d = a,b
print(c,d)
print(c)
print(d)
print()

100 200
100
200

In [2]:
a = 100
b = 200
c,d = a,b
print(c,d)
print(c,end='')
print(d,end='***')
print('Over')

100 200
100200***Over

In [3]:
a = 100
b = 200
c,d = a,b
print(c,d)
print(c,end='$')
print('and')
print(d,end='***')
print('Over')

100 200
100$and
200***Over

In [4]:
x = 100
y = 3
print(x * y)
print(x / y)
print(x // y)
print(x % y)
print(x ** y)
print(x ** 0.5)

300
33.333333333333336
33
1
1000000
10.0

In [7]:
str1 = 'Hello'
str2 = 'Python'
str3 = str1 + str2
print(str3)
a = 100
b = 200
c = a + b
print(c)

HelloPython
300

In [8]:
str1 = 'Hello,'+\
    'Python,Let\'s learning'
str2 = 'Python now'
str3 = str1 + str2
print(str3)

Hello,Python,Let's learningPython now

In [5]:
a=eval(input("Enter an integer:"))
b=a+100
print(a,b)

str1 = input('Enter an string')
str2 = str1 + 'i18'
print(str2)

Enter an integer:8
8 108
Enter an string10
10i18

In [9]:
a = 100
b = 200
print(a,b)

b,a = a,b
print(a,b)

100 200
200 100

In [10]:
a=100
b=200
print(a,b)

temp=a
a=b
b=temp
print(a,b)

100 200
200 100

In [11]:
#Convert Fahrenheit to Ceisius
print('Fahrenheit 212 is Celsius degree')
print(5/9 * 212-32)

Fahrenheit 212 is Celsius degree
85.77777777777779

In [12]:
#change a and b
a = 100
b = 200
print(a, b)

a, b = b, a
print(a, b)

100 200
200 100

In [13]:
a = eval(input('Enter an integer: '))
b = a + 100
print(a, b)

Enter an integer: 10
10 110

In [14]:
#Display two messages
a = 100
b = 200
print(a, b)

100 200

In [15]:
41 / 5

8.2

In [16]:
41 // 5

8

In [17]:
41 % 5

1

In [18]:
50 % 5

0

In [19]:
1 % 2

1

In [20]:
35 % 3

2

In [21]:
45 + 4 * 3 - 12

45

In [22]:
45 + 34 % 3 * (21 * 3 % 2)

46

In [23]:
a = 10
a += 3
print(a)

13

In [24]:
a = 10
a *= 3
print(a)

30

In [25]:
a = 10
a /= 3
print(a)

3.3333333333333335

In [26]:
a = 10
a //= 3
print(a)

3

In [27]:
a = 10
a %= 3
print(a)

1

In [28]:
#output 1
print(1, end='')
print(22, end='*****')
print(333)
print()

122*****333

In [29]:
#output 2
print(1, end='$')
print(22, end='@@@@@')
print(333)
print('Over')

1$22@@@@@333
Over